div:first-of-type{
  padding: 10px;
  border: 1px solid black;
  h3{
    margin: 0;
    padding-bottom: 10px;
    display: inline-block;
    width: 91%;
  }
  i{
    font-size: 25px;
    cursor: pointer;
  }
  p{
    margin: 0;
    padding-bottom: 10px;
    &:last-child{
      padding-bottom: 0;
    }
    span{
      i{
        font-size: 14px;
      }
    }
  }

}
